body{
    margin: 0px;
    padding: 0px;
}
.bg-nav{
    background-color: red;
}

.ativo{
    font-weight: bold;
    border: solid 2px gray;
}

.negrito {
    font-weight: bold;
}

.red{
    color: #E83D3B;
}

.green{
    color: #28a745;
}

#box-info{
	display: none;
	background-color: #E6F4FF;
	border: 2px solid #92A1B2;
}

.oil{
	color: #B28934;
}