body{
    margin: 0px;
    padding: 0px;
}
.bg-nav{
    background-color: red;
}

.ativo{
    font-weight: bold;
    border: solid 2px gray;
}

.negrito {
    font-weight: bold;
}

.red{
    color: red;
}