<imc-header></imc-header>
<section class="container mt-5" ng-controller="imcFormCtrl">
    <section class="row">
        <article class="col-md-6">
            <h2 class="mb-4">O que é o IMC</h2>
            <p class="text-justify">O índice de massa corporal (IMC) é uma medida internacional usada para calcular se uma pessoa está no peso ideal. Desenvolvido pelo polímata Lambert Quételet no fim do século XIX, trata-se de um método fácil e rápido para a avaliação do nível de gordura de cada pessoa, sendo, por isso, um preditor internacional de obesidade adotado pela Organização Mundial da Saúde (OMS).</p>
        </article>
        <article class="col-md-6">
            <h2 class="mb-4">Formulário de IMC</h2>
            <form class="form-group" name="imcForm">
                <div class="row mb-3">
                    <div class="col-md-6 p-2">
                        <input ng-required="true" name="name" class="form-control" type="text" ng-model="vm.patient.name" placeholder="Nome" />
                    </div>
                    <div class="col-md-3 p-2">
                        <input ng-required="true" class="form-control" type="text" name="age" ng-model="vm.patient.age" placeholder="Idade" />
                    </div>
                    <div class="col-md-3 p-2">
                        <select ng-required="true" class="form-control" ng-model="vm.patient.gender" ng-options="gender for gender in vm.gender" name="gender">
                            <option value="">Sexo</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 p-2">
                        <input ng-required="true" class="form-control" type="text" name="weight" ng-model="vm.patient.weight" placeholder="Peso" />
                    </div>
                    <div class="col-md-6 p-2">
                        <input ng-required="true" class="form-control" type="text" name="height" ng-model="vm.patient.height" placeholder="Altura" />
                    </div>
                </div>
                <button ng-disabled="!imcForm.$valid" href="#" class="btn btn-primary float-right mb-2" ng-click="vm.imcCalc(vm.patient, imcForm)">Calcular</button>
            </form>
        </article>
    </section>
    <br>
    <situation></situation>
</section>
